<div style="margin:0px;padding:0px;">
    <div style="margin:0px;padding:0px;  margin: 0 auto;width: 700px;padding: 10px 10px;">
        <table cellpadding="0" style="width:550px;margin:auto;display:block;font-family:'trebuchet ms',geneva,sans-serif;
    " >
            <tbody>
                <tr>
                    <td style="width:550px;display:block;clear:both">
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                            style=" margin-top:30px;background-clip:padding-box;border-collapse:collapse;border-radius:5px;">
                           
                                <tr
                                    style="height:80px;background-color:#fff; text-align:center;">
                                    <td style="width:100%; padding-left:22px;"><img
                                            src="https://complexfit.com/assets/img/logo2.png" height="35">
                                    </td>
                                </tr>
                               
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#f9f9f9">
                        <table style="width:500px;clear:both" border="0" align="center" cellpadding="0" cellspacing="0">
                            
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                            style="padding: 30px 0px 0px 0px;">
                                           
                                                <tr>
                                                    <td height="10px"
                                                        style="font-size: 15px;line-height: 24px;letter-spacing:.3px;">
                                                        <p style="color:#403d3d; margin-bottom: 10px;"> <b>Dear {{userName}},
                                                            </b></p>
                                                        <p style="color:#403d3d; margin-bottom: 10px; font-size: 13px;">Welcome to complexfit.com <br>
                                                            </p>
                                                            <p style="color:#403d3d; margin-bottom: 10px; font-size: 13px;">Your account has been created successfully. Please use the following credentials to access and complete your profile.</p>
                                                       
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10px"
                                                        style="font-size: 14px; line-height: 24px;letter-spacing:.3px; ">

                                                        <p style="color:#403d3d; margin-bottom:5px;"> <b>Email:
                                                            </b>{{userEmail}} <br> <b> Password: </b>{{password}}</p>



                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10px"
                                                        style="font-size: 16px; line-height: 24px;letter-spacing:.3px; text-align: center;">

                                                        <p style="height:45px;text-align: center;margin-top: 28px;"><a
                                                                href=process.env.REACT_APP_API_URL+"login"
                                                                style="background-color: #155298;color: white; padding: 12px 60px!important;border-radius: unset;font-size: 17px; border-radius: 4px; text-decoration: unset;margin-left: 15px;">Login</a></p>
                                                                

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10px"
                                                        style="font-size: 14px; line-height: 24px;letter-spacing:.3px; ">

                                                        <p style="color:#403d3d; margin-bottom:5px;"> Thanks again for signing up.  </p>



                                                    </td>
                                                </tr>


                                                
                                               
                                                <tr>
                                                    <td height="10px"
                                                        style="font-size: 14px; line-height: 24px;letter-spacing:.3px;">
                                                        <p
                                                            style="color:#646060;font-size:13px; margin-bottom: 15px; margin-top: 10px;line-height: 24px;letter-spacing:.3px ">
                                                            <b style="font-size: 15px;">Best regards,</b> <br> Services Team </p>
                                                            <tr style="background-color: #f9f9f9;">
                                                                <td align="center">
                                                                    <a href="https://www.facebook.com/complexfits/" style="margin-right:6px;text-decoration:none" target="_blank">
                                                                        <img src="https://ci3.googleusercontent.com/proxy/GL9HeTJbU6bp4DqJA0qOsahOmLwSBp24k5wnu5rnhSvCJpunP_HRw5nXyeKtWUbckTeNqkzNuelR7R8XYCC2C7LfTGb7AA=s0-d-e1-ft#https://www.bizease.com/assets/img/new_email_fb.png"
                                                                            class="CToWUd">
                                                                    </a>
                                                                    <a style="margin-right:6px;text-decoration:none" href="#">
                                                                        <img src="https://ci5.googleusercontent.com/proxy/YWxJr5yKtTQStL0pR8IAPN5uy2oyGp-vRnSst2XqLQcT3Vjsjh5pRidu6iLI_mjidamvfaqianJ3phU8R3-fhyafUeypqmU=s0-d-e1-ft#https://www.bizease.com/assets/img/new_email_twt.png"
                                                                            class="CToWUd">
                                                                    </a>
                                                                    <a style="text-decoration:none" href="https://www.linkedin.com/company/complexfit-study-abroad/" target="_blank">
                                                                        <img src="https://ci5.googleusercontent.com/proxy/Xaf2kIF8xd80D7DVx2dSK0SXuJWrAylMazu-F1GMKVetpjrjy6ajo25paG5ValameQ4fmegfn8WhzSQpTbz9hn0bzL4UVQ=s0-d-e1-ft#https://www.bizease.com/assets/img/new_email_in.png"
                                                                            class="CToWUd">
                                                                    </a>
                                                                </td>
                                                            </tr>


                                                    </td>
                                                </tr>
                                                

                                          
                                        </table>
                                    </td>
                                </tr>
                            
                        </table>
                    </td>
                </tr>
                <tr >
                    <td
                        style="font-size: 14px;text-align: center;line-height: 21px;letter-spacing: .3px; color: #155298; height: 68px;">
                        
                        <p
                            style="line-height:22px;margin-bottom:0px;padding: 10px; background-color:#155298; color:#fff;font-size: 12px;">
                            &copy; Copyright {{currentYear}}. All Rights Reserved.</p>
                        </td>
                    </tr>
            
       
        
        </tbody>
        </table>
    </div>
</div>